
.menu-container{
    margin-top: 5em;
    margin-left: 1em;
    position: fixed;
    top: 0;
}

.menu-trigger img{
    top: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.menu-trigger:hover{
    transform: rotate(380deg);
}

#navigation{
    border-radius: 5px;
    position: absolute;
    width: 13em;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #ffffff24;
}

#imgstyle{
    padding-right: 5px;
}

#style{
    box-shadow: inset 0 0 0 0 #44107aad;
    padding: 0 0.25rem;
    margin: 0 -0.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#style:hover{
  color: #fff;
  box-shadow: inset 160px 0 0 0 #43107a36;
}

#style{
    line-height: 1.5;
    text-decoration: none;
}

.menu{
    position: absolute;
    top: 100px;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 200px;
}

#connect{
    margin-bottom: 20px;
    background: none;
    box-sizing: border-box;
    border: none;
    gap: 4px;
}

#emailConnect{
    color: white;
}

.sumit{
    color: white;
}