.Actus {
    width: 400px;
    padding: 10px 15px;
    margin: 60px;
    background: #f1f1f8;
    border-radius: 10px;
    margin-left: -25px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
}

#auteurTilte{
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

#content {
    margin-top: 10px;
}

#desc{
    text-align: justify;
    padding: 1em;
}

#addCom {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 5px;
    border: none;
}

#Boutons {
    margin-left: 32px;
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    
}

#addCom:hover {
    background-color: rgb(73, 7, 120);
}

#addCom {
    background-color: #5c7fff;
    border-radius: 107px;
    box-shadow: rgb(139 44 187 / 20%) 0 -25px 18px -14px inset, rgb(112 44 187 / 15%) 0 1px 2px, rgb(44 114 187 / 15%) 0 2px 4px, rgb(106 44 187 / 15%) 0 4px 8px, rgb(158 44 187 / 15%) 0 8px 16px, rgb(44 154 187 / 15%) 0 16px 32px;
    color: #f1faff;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    touch-action: manipulation;
}

#Like {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 30px;
    border: none;
    background-color: rgb(243, 231, 231);
}

#Dislike {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: rgb(178, 171, 171);
}

#addCom:hover {
    box-shadow: rgba(40, 104, 222, 0.35) 0 -25px 18px -14px inset,rgba(113, 44, 187, 0.25) 0 1px 2px,rgba(144, 44, 187, 0.25) 0 2px 4px,rgba(44, 120, 187, 0.25) 0 4px 8px,rgba(44, 118, 187, 0.25) 0 8px 16px,rgba(44, 104, 187, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

#Like:hover {
    background-color: rgb(35, 70, 186);
}

#Like {
    background-color: #629af3;
    border-radius: 107px;
    box-shadow: rgba(44, 61, 187, 0.2) 0 -25px 18px -14px inset, rgba(12, 41, 173, 0.15) 0 1px 2px, rgba(44, 144, 187, 0.15) 0 2px 4px, rgba(24, 138, 245, 0.15) 0 4px 8px, rgba(44, 73, 187, 0.15) 0 8px 16px, rgba(16, 58, 227, 0.15) 0 16px 32px;
    color: #f1faff;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    touch-action: manipulation;
}

#Like:hover {
    box-shadow: rgba(40, 104, 222, 0.35) 0 -25px 18px -14px inset,rgba(113, 44, 187, 0.25) 0 1px 2px,rgba(144, 44, 187, 0.25) 0 2px 4px,rgba(44, 120, 187, 0.25) 0 4px 8px,rgba(44, 118, 187, 0.25) 0 8px 16px,rgba(44, 104, 187, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

#Dislike:hover {
    background-color: rgb(128, 19, 0);
}

#Dislike {
    background-color: #f4715a;
    border-radius: 107px;
    box-shadow: rgba(187, 94, 44, 0.2) 0 -25px 18px -14px inset, rgba(187, 63, 44, 0.15) 0 1px 2px, rgba(187, 158, 44, 0.15) 0 2px 4px, rgba(187, 149, 44, 0.15) 0 4px 8px, rgba(187, 56, 44, 0.15) 0 8px 16px, rgba(187, 115, 44, 0.15) 0 16px 32px;
    color: #f1faff;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    touch-action: manipulation;
}
  
#Dislike:hover {
    box-shadow: rgba(192, 91, 15, 0.35) 0 -25px 18px -14px inset,rgba(187, 87, 44, 0.25) 0 1px 2px,rgba(187, 111, 44, 0.25) 0 2px 4px,rgba(187, 142, 44, 0.25) 0 4px 8px,rgba(187, 68, 44, 0.25) 0 8px 16px,rgba(187, 49, 44, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

#likeTotal {
    width: 60px;
    height: 30px;
    text-align: center;
    margin-top: -4px;
    padding-top: 5px;
    margin-left: -30px;
    font-weight: bold;
}

#lesLikesPost {
    display: flex;
    border: none;
    height: 30px;
    border-radius: 18px 18px 18px 18px;
    background-color: white;
    margin-left: 25px;
}

#SectionAjout {
    display: flex;
    border: none;
    border-radius: 18px 18px 18px 18px;
    height: 2em;
    background-color: white;
    box-shadow: #7e7eb9 0 10px 20px -10px;
}

#Commentaire {
    position: relative;
    height: 24px;
    border-radius: 1px 25px 25px 1px;
    height: 22px;
    margin-top: 2px;
    margin-left: -3px;
    border: 1px solid white
}

#PosteAuteur {
    border-radius: 5em;
    padding: 0 10px;
}

#auteurPost {
    text-transform: uppercase;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.803);
    margin-top: 0px;;
    width: 185px;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 17px;
}

#colonneCom{
    background: white;
    width: 90%;
    width: 400px;
    border-radius: 5px;
    height: 370px;
    overflow: auto;
}