
#BlocCom {
    width: 390px;
    margin-bottom: 12px;
    background-color: white;
    display: flex;
    margin-left: -20px;
    box-shadow: #2323324a 0 10px 20px -10px;
    border-radius: 5px;
}

#AuteurCom {
    display: flex;
    background-color: white;
    width: 330px;
    margin-top: 4px;
}

#Auteur {
    margin-top: 5px;
    margin-bottom: 7px;
    margin-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 100px;
    color: black;
}

#Underline {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 2px;
    border-bottom: 3px solid rgb(132, 48, 138);
    height: 18px;
}

#Bloc {
    border-top: 1px solid black;
    display: flex;
    width: 390px;
}

#Com {
    margin-top: 25px;
    margin-left: 10px;
    width: 190px;
    text-align: justify;
}

#lesLikes {  
    margin-top: 20px;
    margin-bottom: 21px;
    margin-left: 65px;
    display: flex;
    height: 30px;
    background-color: white;
}


