
#register form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  border-radius: 10px;
  background-color: #ffffff24;
  width: 25em;
}

#register form input {
  width: 20em;
  margin: 5%;
  padding: 0.8em;
  background: none;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(134 132 141 / 44%);
}

#register form input::placeholder{
  color: rgba(255, 255, 255, 0.481);
  font-size: 15px;
}

#submitClasher{
  margin-top: 3em;
  color: #efefef;
  font-size: 1em;
  background: #16172466;
  padding: 1.5rem 5rem;
  border-radius: 1.3rem;
  border: none;
  position: relative; 
  cursor: pointer;
}

#submitClasher:before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #00f7f6;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 1.3rem;
}

#submitClasher:hover:after{
  animation: pink .4s 2;
}

#submitClasher:hover:before{
  animation: blue .4s 2;
}

#submitClasher:hover{
  animation: skew .4s;
}

#submitClasher:after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fa01fd;
  left: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 1.3rem;
  color: #efefef;
}

@keyframes blue {
  0% {
      transform: translate(0)
  }
  20% {
      transform: translate(-.6rem, .6rem)
  }
  40% {
      transform: translate(-.6rem, -.6rem)
  }
  60% {
      transform: translate(.6rem, -.6rem)
  }
  80% {
      transform: translate(.6rem, -.6rem)
  }
  to {
      transform: translate(0)
  }
}

@keyframes pink {
  0% {
      transform: translate(0)
  }
  20% {
      transform: translate(.6rem, .6rem)
  }
  40% {
      transform: translate(.6rem, .6rem)
  }
  60% {
      transform: translate(-.6rem, -.6rem)
  }
  80% {
      transform: translate(-.6rem, .6rem)
  }
  to {
      transform: translate(0)
  }
}

@keyframes skew {
  0% {
      transform: skew(0);
  }
  20% {
      transform: skew(-50deg);
  }
  40% {
      transform: skew(10deg);
  }
  60% {
      transform: skew(-20deg);
  }
  80% {
      transform: skew(25deg);
  }
  to {
      transform: skew(0);
  }
}
