#Actus {
    flex: 1;
}

#Actus ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

#titre {
    text-align: center;
}

#Actus li:hover {
    background-color: rgb(179, 205, 215);
}

#Actus li {
    margin-left: auto;
    margin-right: auto;
}

#enTete {
    border: 2px solid black
}