#Actus {
    flex: 1;
}

#Actus ul {
    list-style-type: none;
}

#titre {
    text-align: center;
}

#Actus ul {
    margin-left: auto;
    margin-right: auto;
}

#enTete {
    border: 2px solid black
}