body, .App{ 
    min-height: 100vh; 
    margin:0; 
    display:flex; 
    flex-direction:column;
    background: linear-gradient(110.6deg, rgb(216 151 0) -18.3%, rgb(166 130 255) 16.4%, rgb(47, 48, 67) 68.2%, rgb(27, 23, 36) 99.1%);
}

.App > div{
    flex: 1;
}